<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quicklime</title>
  <meta charset='UTF-8'>

  <link rel="stylesheet" href="static/quicklime/bootstrap-3.2.0/css/bootstrap.css"/>
  <link rel="stylesheet" href="static/quicklime/bootstrap-3.2.0/css/bootstrap-theme.css"/>
  <link rel="stylesheet" href="static/quicklime/brat/static/style-vis.css"/>
  <link rel="stylesheet" href="static/quicklime/quicklime.css"/>

  <script src="static/quicklime/jquery-1.11.1.min.js"></script>
  <script src="static/quicklime/underscore-1.7.0.min.js"></script>
  <script src="static/quicklime/bootstrap-3.2.0/js/bootstrap.js"></script>
  <script src="static/quicklime/d3/3.4.4/d3.js"></script>
  <script src="static/quicklime/dagre-d3/0.2.9/dagre-d3.js"></script>
  <script src="static/quicklime/jquery.splitter.js"></script>

  <!-- === BRAT SCRIPTS === -->
  <!-- SVG for jQuery: http://keith-wood.name/svg.html

       BRAT comes bundled with v1.4.3 of SVG for jQuery, which is incompatible
       with jQuery v1.7.2 and later.  We are using the jQuery SVG files from
       a fork of the project:
         https://github.com/twitwi/svg

       This fork is compatible with jQuery 1.8+, but not jQuery 1.7.
  -->
  <script src="static/quicklime/jquery.svg.js"></script>
  <script src="static/quicklime/jquery.svgdom.js"></script>

  <!-- BRAT helper modules -->
  <script src="static/quicklime/brat/client/src/configuration.js"></script>
  <script src="static/quicklime/brat/client/src/util.js"></script>
  <script src="static/quicklime/brat/client/src/annotation_log.js"></script>

  <!-- BRAT modules -->
  <script src="static/quicklime/brat/client/src/dispatcher.js"></script>
  <script src="static/quicklime/brat/client/src/url_monitor.js"></script>
  <script src="static/quicklime/brat/client/src/visualizer.js"></script>
  <!-- === /BRAT SCRIPTS === -->

  <script src="static/quicklime/quicklime.js"></script>
  <script src="static/quicklime/quicklime.brat.js"></script>
  <script src="static/quicklime/quicklime.parse.js"></script>

  <script src="static/quicklime/thrift.js"></script>
  <script src="static/quicklime/concrete.js"></script>

  <script>
    $(document).ready(function() {
      $("#toggle_controls").click(function(event) {
        var id = $(event.target).find('input').attr('id');
        if (id === "show_controls") {
          $('.tokenization_controls').show();
        }
        else if (id === "hide_controls") {
          $('.tokenization_controls').hide();
        }
      });

      $('#splitter').splitter({
        resizeTo: window,
        sizeTop: true,
        splitHorizontal: true
      });

      function displayErrorMessage(message) {
        $('#error_message_text').text(message);
        $('#error_message_div').show();
      }

      function fetchCommunication(commID) {
        var fetchRequest = new FetchRequest({communicationIds: [commID]});
        var fetchResult = fetchClient.fetch(fetchRequest);
        var comm = fetchResult.communications[0];
        return comm;
      }

      function renderCommunication(comm) {
        comm.addInternalReferences();

        $('#communication_one').empty();
        $('#entityTable').empty();

        QL.addCommunication('communication_one', comm, $('#show_controls').prop('checked'));
        QL.parse.addTokenizationParseControls(comm);
        QL.brat.addTokenizationBRATControls(comm);
        QL.addEntityTable('entityTable', comm);
        // QL.addSituationMentionTable('situationMentionTable', comm);
        // QL.addMouseoverHighlightingForAllEntitySets(comm);
      }

      var transport = new Thrift.Transport("/quicklime/fetch_http_endpoint/");
      var protocol = new Thrift.TJSONProtocol(transport);
      var fetchClient = new FetchCommunicationServiceClient(protocol);

      try {
        var totalCommunications = fetchClient.getCommunicationCount();

        if (totalCommunications > 1) {
          $('#list_button_container').show();
        }

        var commID;
        var getID = concrete.util.getURLParameter('id');

        if (getID) {
          commID = getID;
        }
        else {
          var communicationIDs = fetchClient.getCommunicationIDs(0,1);
          commID = communicationIDs[0];
        }

        comm = fetchCommunication(commID);
        if (comm) {
          renderCommunication(comm);
        }
        else {
          displayErrorMessage('Unable to Fetch Communication with ID "' + commID + '"');
        }
      }
      catch (e) {
        if (e instanceof Error) {
          displayErrorMessage('Error communicating with Fetch service: "' + e.message + '"');
        }
        else if (typeof(e) === 'string') {
          displayErrorMessage('Error communicating with Fetch service: "' + e + '"');
        }
        else {
          throw e;
        }
      }
    });
  </script>
  <style>
    html, body {
      margin: 0px;
      padding: 0px;
      overflow: hidden;
    }
    body {
      padding-top: 50px;
    }
    .splitter-pane {
      overflow: auto;
    }
    div.splitter-bar-horizontal {
      height: 3px;
      background: #444444;
    }
    #splitter {
      height: 300px;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="btn-toolbar">
        <div class="btn-group" data-toggle="buttons" id="toggle_controls">
          <label class="btn btn-default active navbar-btn">
            <input type="radio" name="toggle_controls" id="show_controls" checked> Show Controls
          </label>
          <label class="btn btn-default navbar-btn">
            <input type="radio" name="toggle_controls" id="hide_controls"> Hide Controls
          </label>
        </div>
        <div class="btn-group" id="list_button_container" style="display: none;">
          <a class="btn btn-default navbar-btn" href="/list/" role="button">Communication List</a>
        </div>
      </div>
    </div>
  </nav>

  <div id="splitter">
    <div style="height: 400px; min-height: 150px;">
      <div class="container-fluid">
        <div id="error_message_div" class="alert alert-danger" style="display: none; margin-top: 1em;">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span id="error_message_text"></span>
        </div>
        <div id="communication_one"></div>
      </div>
    </div>
    <div style="margin-top: 0.5em;">
      <div class="container-fluid">

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseEntities">
                  Entities
                </a>
              </h4>
            </div>
            <div id="collapseEntities" class="panel-collapse collapse in">
              <div class="panel-body">
                <div id="entityTable"></div>
              </div>
            </div>
          </div>
          <!--
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseSituationMentions">
                  Situation Mentions
                </a>
              </h4>
            </div>
            <div id="collapseSituationMentions" class="panel-collapse collapse in">
              <div class="panel-body">
                <div id="situationMentionTable"></div>
              </div>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>
  </div><!-- #splitter -->

</body>
</html>
