<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quicklime</title>
  <meta charset='UTF-8'>

  <link rel="stylesheet" href="/static/quicklime/bootstrap-3.2.0/css/bootstrap.css"/>
  <link rel="stylesheet" href="/static/quicklime/bootstrap-3.2.0/css/bootstrap-theme.css"/>
  <link rel="stylesheet" href="/static/quicklime/quicklime.css"/>

  <script src="/static/quicklime/jquery-1.11.1.min.js"></script>
  <script src="/static/quicklime/bootstrap-3.2.0/js/bootstrap.js"></script>

  <script src="/static/quicklime/quicklime.js"></script>

  <script src="/static/quicklime/thrift.js"></script>
  <script src="/static/quicklime/concrete.js"></script>

  <script>
    function appendCommunicationIDs(communicationIDs) {
      for (var i = 0; i < communicationIDs.length; i++) {
        $('#communication_id_list').append(
          $('<span>').css('display', 'inline-block')
                     .css('padding', '0.5em')
                     .append(
                       $('<a>').attr('href', '/?id='+communicationIDs[i])
                               .text(communicationIDs[i])));
      }
    }

    function displayErrorMessage(message) {
      $('#error_message_text').text(message);
      $('#error_message_div').show();
    }

    function updatePaginationControl(commOffset, commCount, totalCommunications) {
      var currentPageIndex = Math.floor(commOffset / commCount);
      var endPageIndex;
      var startPageIndex;
      var totalPages = Math.ceil(totalCommunications / commCount);

      if (totalPages > 10) {
        if (currentPageIndex < 6) {
          startPageIndex = 0;
          endPageIndex = 10;
        }
        else {
          if (totalPages - currentPageIndex > 4) {
            startPageIndex = currentPageIndex - 6;
            endPageIndex = currentPageIndex + 4;
          }
          else {
            startPageIndex = totalPages - 10;
            endPageIndex = totalPages;
          }
        }
      }
      else {
        startPageIndex = 0;
        endPageIndex = totalPages;
      }

      var li;

      li = $('<li>').append(
        $('<a>').attr('href', '/list/?commCount='+commCount+'&commOffset=0')
                .html('&laquo;')
      );
      if (currentPageIndex == 0) {
        li.addClass('disabled');
      }
      $('#pagination_list').append(li);

      for (var i = startPageIndex; i < endPageIndex; i++) {
        li = $('<li>').append(
          $('<a>').attr('href', '/list/?commCount='+commCount+'&commOffset='+(i*commCount))
                  .text(i+1)
        );

        if (currentPageIndex == i) {
          li.addClass('active');
        }

        $('#pagination_list').append(li);
      }

      li = $('<li>').append(
        $('<a>').attr('href', '/list/?commCount='+commCount+'&commOffset='+((totalPages-1)*commCount))
                .html('&raquo;')
      );
      if (currentPageIndex == totalPages-1) {
        li.addClass('disabled');
      }
      $('#pagination_list').append(li);
    }

    $(document).ready(function() {
      var transport = new Thrift.Transport("/quicklime/fetch_http_endpoint/");
      var protocol = new Thrift.TJSONProtocol(transport);
      var fetchClient = new FetchCommunicationServiceClient(protocol);

      var commCount = concrete.util.getURLParameter('commCount');
      var commOffset = concrete.util.getURLParameter('commOffset');
      if (!commCount) {
        commCount = 50;
      }
      if (!commOffset) {
        commOffset = 0;
      }

      try {
        var totalCommunications = fetchClient.getCommunicationCount();
        var communicationIDs = fetchClient.getCommunicationIDs(commOffset, commCount);

        appendCommunicationIDs(communicationIDs);
        updatePaginationControl(commOffset, commCount, totalCommunications);
      }
      catch (e) {
        if (e instanceof Error) {
          displayErrorMessage('Error communicating with Fetch service: "' + e.message + '"');
        }
        else if (typeof(e) === 'string') {
          displayErrorMessage('Error communicating with Fetch service: "' + e + '"');
        }
        else {
          throw e;
        }
      }
    });
  </script>
  <style>
    body {
      padding-bottom: 3em;
    }
  </style>
</head>
<body>

  <div class="container-fluid">
    <div id="error_message_div" class="alert alert-danger" style="display: none; margin-top: 1em;">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span id="error_message_text"></span>
    </div>

    <div id="communication_id_list"></div>

    <nav>
      <ul id="pagination_list" class="pagination">
      </ul>
    </nav>
  </div>

</body>
</html>
